.container {
  display: flex;
  justify-content: space-around;

  & div:first-of-type {
    display: flex;
    align-items: center;

    & h1 {
      margin-left: 0.5em;
      font-family: 'Alfa Slab One', sans-serif;
      color: brown;
      font-weight: bolder;
    }
  }
}
